<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TopTokenMapper">
    
    <resultMap type="TopToken" id="TopTokenResult">
        <result property="id"    column="id"    />
        <result property="symbol"    column="symbol"    />
        <result property="decimals"    column="decimals"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="online"    column="online"    />
    </resultMap>

    <sql id="selectTopTokenVo">
        select id, symbol, decimals, create_time, update_time, create_by, update_by, online from top_token
    </sql>

    <select id="selectTopTokenList" parameterType="TopToken" resultMap="TopTokenResult">
        <include refid="selectTopTokenVo"/>
        <where>  
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
            <if test="decimals != null "> and decimals = #{decimals}</if>
            <if test="online != null "> and online = #{online}</if>
        </where>
    </select>
    
    <select id="selectTopTokenById" parameterType="Long" resultMap="TopTokenResult">
        <include refid="selectTopTokenVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTopToken" parameterType="TopToken" useGeneratedKeys="true" keyProperty="id">
        insert into top_token
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="symbol != null and symbol != ''">symbol,</if>
            <if test="decimals != null">decimals,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="online != null">online,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="symbol != null and symbol != ''">#{symbol},</if>
            <if test="decimals != null">#{decimals},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="online != null">#{online},</if>
         </trim>
    </insert>

    <update id="updateTopToken" parameterType="TopToken">
        update top_token
        <trim prefix="SET" suffixOverrides=",">
            <if test="symbol != null and symbol != ''">symbol = #{symbol},</if>
            <if test="decimals != null">decimals = #{decimals},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="online != null">online = #{online},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTopTokenById" parameterType="Long">
        delete from top_token where id = #{id}
    </delete>

    <delete id="deleteTopTokenByIds" parameterType="String">
        delete from top_token where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>