<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.mapper.TopPowerOrderMapper">

    <select id="selectOrderList" resultType="com.ruoyi.web.entity.TopPowerOrder">
        select *
        from top_power_order
        where user_id = #{userId}
          and end_date <![CDATA[ > ]]> #{processDate}
        order by create_time
    </select>

    <select id="selectPageVO" resultType="com.ruoyi.web.vo.PowerOrderVO">
        select
            tpo.*,
            (select ifnull(sum(_tpd.income),0) from top_power_daily_income _tpd where _tpd.order_no = tpo.order_no) as income
        from top_user tu
                 inner join top_power_order tpo on tu.id = tpo.user_id
        where tu.wallet = #{walletAddress}
    </select>

    <select id="selectPagePowerVO" resultType="com.ruoyi.web.vo.TopPowerOrderVO">
        select
            tpo.*,
            (select ifnull(sum(_tpd.income),0) from top_power_order_income _tpd where _tpd.order_no = tpo.order_no) as income
        from top_power_order tpo
        where tpo.user_id = #{userId}
    </select>

    <select id="sumPowerNumberByUserId" resultType="java.lang.Integer">
        select ifnull(sum(t.number),0) from top_power_order t where t.user_id = #{userId}
    </select>

    <select id="selectInfo" resultType="com.ruoyi.web.vo.PowerOrderInfoVO">
        select
            ifnull(sum(if(tpd.process_enabled = 1,tpd.income,0)),0) as claimIncome,
            ifnull(sum(if(tpd.process_enabled = 0,tpd.income,0)),0) as unClaimIncome
        from top_user tu
                 inner join top_power_daily_income tpd on tu.id = tpd.user_id
        where tu.wallet = #{wallet}
    </select>

</mapper>