<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.TopPowerDailyIncomeMapper">

    <update id="updateProcessEnabled">
        update top_power_order_income
        set process_enabled = 1
        WHERE user_id = #{userId}
    </update>

    <select id="selectUnclaimedList" resultType="com.ruoyi.web.vo.DailyIncomeVO">
        SELECT tpd.*
        FROM top_user tu
                 INNER JOIN top_power_daily_income tpd ON tu.id = tpd.user_id
        where tu.wallet = #{wallet} and tpd.process_enabled = 0
        order by tpd.process_date
    </select>

    <select id="lockById" resultType="com.ruoyi.web.entity.TopPowerDailyIncome">
        select * from top_power_daily_income where id = #{id} for update
    </select>

    <select id="selectUnclaimed" resultType="com.ruoyi.web.entity.TopPowerDailyIncome">
        SELECT tpd.*
        FROM top_user tu
                 INNER JOIN top_power_daily_income tpd ON tu.id = tpd.user_id
        where tu.wallet = #{wallet} and tpd.process_enabled = 0
        order by tpd.process_date
    </select>

</mapper>

