<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.TopStoreOrderMapper">

    <select id="selectInfoVO" resultType="com.ruoyi.web.vo.StoreOrderInfoVO">
        select
        sum(tso.invest_amount) as investAmount,
        (select sum(_tat.amount) from top_account_tx _tat
                                 where _tat.user_id = tu.id
                                   and _tat.tx_type = 'STORE_INTEREST') as interest
        from top_user tu
            inner join top_store_order tso on tu.id = tso.user_id
        <where>
            tu.wallet = #{wallet}
        </where>
    </select>

    <select id="selectPageVO" resultType="com.ruoyi.web.vo.StoreOrderVO">
        select
            tso.*,
            ts.period
        from top_user tu
            inner join top_store_order tso on tu.id = tso.user_id
            inner join top_store ts on ts.id = tso.store_id
        <where>
            tu.wallet = #{wallet}
        </where>
        order by tso.id desc
    </select>

    <select id="lockByOrderNo" resultType="com.ruoyi.web.entity.TopStoreOrder">
        select tso.*
        from top_store_order tso
        where tso.order_no = #{orderNo} for update
    </select>

</mapper>

