<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.TopStoreOrderMapper">

    <select id="selectPageVO" resultType="com.ruoyi.web.vo.StoreOrderVO">
        select tso.*
        from top_user tu inner join top_store_order tso on tu.id = tso.user_id
        <where>
            tu.wallet = #{walletAddress}
        </where>
        order by tso.id desc
    </select>

    <select id="lockByOrderNo" resultType="com.ruoyi.web.entity.TopStoreOrder">
        select tso.*
        from top_store_order tso
        where tso.order_no = #{orderNo} for update
    </select>

</mapper>

