<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TopAccountTxMapper">

    <select id="selectPageVO" resultType="com.ruoyi.admin.vo.AccountTxVO">
        select
        tu.wallet,
        tat.*
        from top_user tu inner join top_account_tx tat on tu.id = tat.user_id
        <where>
            <if test="dto.userId != null">
                and tu.id = #{dto.userId}
            </if>
            <if test="dto.wallet != null and dto.wallet != ''">
                and tu.wallet = #{dto.wallet}
            </if>
            <if test="dto.symbol != null and dto.symbol != ''">
                and tat.symbol = #{dto.symbol}
            </if>
        </where>
        order by tat.id desc
    </select>

    <select id="selectStoreIncomePageVO" resultType="com.ruoyi.admin.vo.StoreIncomeVO">
        select
        tu.wallet,
        tat.*
        from top_user tu inner join top_account_tx tat on tu.id = tat.user_id
        <where>
            tat.tx_type in ('STORE_INTEREST', 'STORE_INTEREST_INVITE')
            <if test="dto.startDateTime != null">
                and tu.created_date between #{dto.startDateTime} and #{dto.endDateTime}
            </if>
            <if test="dto.userId != null">
                and tat.user_id = #{dto.userId}
            </if>
            <if test="dto.wallet != null and dto.wallet != ''">
                and tu.wallet = #{dto.wallet}
            </if>
            <if test="dto.refNo != null and dto.refNo != ''">
                and tat.ref_no = #{dto.refNo}
            </if>
        </where>
        order by tat.id desc
    </select>

</mapper>

