<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TopPowerSharingIncomeMapper">

    <select id="selectPageVO" resultType="com.ruoyi.admin.vo.PowerOrderSharingIncomeVO">
        select
        tu.wallet,
        (select _tu.wallet from top_user _tu where _tu.id = tpsi.provider_user_id) as providerWallet,
        tpsi.*
        from top_user tu
        inner join top_power_sharing_income tpsi on tu.id = tpsi.user_id
        <where>
            <if test="dto.wallet != null and dto.wallet != ''">
                and tu.wallet = #{dto.wallet}
            </if>
            <if test="dto.startDate != null">
                and tpsi.process_date between #{dto.startDate} and #{dto.endDate}
            </if>
            <if test="dto.orderNo != null and dto.orderNo != ''">
                and tpsi.order_no = #{dto.orderNo}
            </if>
        </where>
        order by tpsi.process_date desc
    </select>

</mapper>

