<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.admin.mapper.TopPowerOrderIncomeMapper">

    <select id="selectPageVO" resultType="com.ruoyi.admin.vo.PowerOrderIncomeVO">
        select
        tu.wallet,
        tpoi.*
        from top_user tu
        inner join top_power_order_income tpoi on tu.id = tpoi.user_id
        <where>
            <if test="dto.userId != null">
                and tu.id = #{dto.userId}
            </if>
            <if test="dto.wallet != null and dto.wallet != ''">
                and tu.wallet = #{dto.wallet}
            </if>
            <if test="dto.startDate != null">
                and tpoi.process_date between #{dto.startDate} and #{dto.endDate}
            </if>
            <if test="dto.orderNo != null and dto.orderNo != ''">
                and tpoi.order_no = #{dto.orderNo}
            </if>
        </where>
        order by tpoi.process_date desc
    </select>

</mapper>