<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TopStoreMapper">

    <select id="selectValidList" resultType="com.ruoyi.admin.vo.StoreVO">
        select
            ts.*,
            (select _ttp.price from top_token_price _ttp where _ttp.symbol =ts.symbol ) as price
        from top_store ts
        where ts.status = 1
        order by ts.id
    </select>

</mapper>

