<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TopStoreOrderMapper">

    <select id="selectPageVO" resultType="com.ruoyi.admin.vo.StoreOrderVO">
        select
            tu.wallet,
            ts.period,
            (select ifnull(sum(_tat.amount),0) from top_account_tx _tat where _tat.tx_type = 'STORE_INTEREST' and _tat.ref_no = tso.order_no) as totalIncome,
            tso.*
        from top_user tu
            inner join top_store_order tso on tu.id = tso.user_id
            inner join top_store ts on ts.id = tso.store_id
        <where>
            <if test="dto.wallet != null and dto.wallet != ''">
                and tu.wallet = #{dto.wallet}
            </if>
            <if test="dto.symbol != null and dto.symbol != ''">
                and tso.symbol = #{dto.symbol}
            </if>
            <if test="dto.period != null">
                and ts.period = #{dto.period}
            </if>
        </where>
        order by tso.id desc
    </select>

</mapper>

